<div>
  <input type="text"[(ngModel)]="city" (keyup.enter)="onSearch()" placeholder="Busque uma Cidade">
  <button (click)="onSearch()">Pesquisar</button>
  <nav>
    <a routerLink="/favorites">Ir aos favoritos</a>
  </nav>
</div>

<!-- Mensagem de erro -->
<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="weatherData">
  <h1>Clima Atual</h1>
  <h3>{{ weatherData.name }}</h3>
  <p>Temperatura: {{ weatherData.main.temp }}°C</p>
  <p>Umidade: {{ weatherData.main.humidity }}%</p>
  <p>Vento: {{ weatherData.wind.speed }}m/s</p>
  <p>Previsão de chuva: {{ weatherData.weather[0].description }}</p>
  <!--<p *ngIf="weatherData.alerts">Alertas: {{ weatherData.alerts[0].description }}</p> -->
</div>
