.container-icon  {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  div {
    height: 4rem;
    width: 4rem;
    background: #1f82f2;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
  }

  display: flex;
  gap: 1rem;

  strong, p {
    color: #1f82f2;
    font-size: 2rem;
  }
}

ul {
  width: 60rem; /* 60% */

  li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (max-width: 900px) {
    width: 50rem;
  }

  @media (max-width: 755px) {
    width: 46rem;
  }

  @media (max-width: 722px) {
    width: 42rem;
  }

  @media (max-width: 690px) {
    width: 36rem;
  }

  @media (max-width: 590px) {
    width: 30rem;
  }
}
