<div class="container">
  <p>sdsdss</p>

  <svg-icon
    src="wind.svg"
    [svgStyle]="{ 'width.px':40, 'height.px':40 }"
    alt="icone de vento"
  />
  <svg-icon
    src="humidity.svg"
    [svgStyle]="{ 'width.px':40, 'height.px':40 }"
    alt="icone de vento"
  />

  <div>
    <input type="text"[(ngModel)]="city" (keyup.enter)="onSearch()" placeholder="Busque uma Cidade">
    <button (click)="onSearch()">Pesquisar</button>
    <nav>
      <a routerLink="/favorites">Ir aos favoritos</a>
    </nav>
    <button (click)="addToFavorites()">Adicionar aos favoritos</button>

  </div>

  <!-- Mensagem de erro -->
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="weatherData">
    <h2>Clima Atual</h2>
    <h1>{{ weatherData.name }}</h1>
    <p>Temperatura: {{ weatherData.main.temp }}°C</p>
    <p>Umidade: {{ weatherData.main.humidity }}%</p>
    <p>Vento: {{ weatherData.wind.speed }}m/s</p>

    <p>Previsão de chuva: {{ weatherData.weather[0].description }}</p>
    <!--<p *ngIf="weatherData.alerts">Alertas: {{ weatherData.alerts[0].description }}</p> -->
  </div>

</div>
