<div class="card">
  <div class="weather-data-gap">
    <p>{{ favorite.temp }}°C</p>
    <span>{{ favorite.description }}</span>
  </div>

  <h2>{{ favorite.name }}</h2>

  <div class="weather-data-gap">
    <p>{{ favorite.humidity }}%</p>
    <span>Humidade</span>
  </div>

  <div class="weather-data-gap">
    <p>{{ favorite.wind }}m/s</p>
    <span>Velocidade do vento</span>
  </div>

  <!-- botao remover cidade dos favoritos -->
  <button (click)="onRemove()" title="Deletar cidade">
    <svg-icon
      src="trash.svg"
      [svgStyle]="{ 'width.px': 26, 'height.px':26 }"
      alt="icone de lupa"
    />
  </button>
</div>

