.card {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  width: 100%;
  padding: 2rem;
  border-radius: 50px;

  background: -webkit-linear-gradient(227deg, hsl(210, 90%, 80%) -5%, hsl(212, 93%, 49%) 100%);

  .weather-data-gap {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 2rem;
    }

    @media (max-width: 690px) {
      p {
        font-size: 1.4rem;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }

  button {
    background: none;
    border: none;

    svg-icon {
      display: flex;
    }
  }

  @media(max-width: 690px) {
    h2 {
      font-size: 1.2rem;
    }
  }

  @media(max-width: 590px) {
    text-align: center;

    h2 {
      font-size: 1rem;
    }
  }
}
